@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Bebas Neue', cursive;
}


#content {
	width: calc(100% - 120px);
	float: right;
	box-sizing: border-box;
    padding: 15px;

}

.left{
    float: left;
    width: 60vh;
    margin-left: 8vh;
    margin-top: 2vh;
}
.right{
    float: right;
    width: 60vh;
    margin-top: 2vh;
}

.home_dashboard_top {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.home_dashboard_top > div:nth-child(2) {
	/*justify-content: flex-end;*/
	align-items: flex-end;
}

.home_dashboard_top > div:nth-child(2) img {
  display: block;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	object-fit: cover;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}


.home_dashboard_top > div:nth-child(1) h1 {
	padding: 0;
	margin: 0;
}



.CurrencyHolder {
    position: relative;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.507);
    width: 45vh;
    overflow: hidden;

}

.CurrencyHolderTitle {
    border-bottom: solid brown 3px;
}

.CurrencyHolderTitle p {
    margin: 12px 20px;
}

.CurrencyHolder ul {
    display: inline-block;
    align-items: center;
    margin: 10px 10px;
}

.CurrencyInfo {
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.CurrencyInfo img {
    width: 32px;
    height: 22px;
}

.CurrencyInfo ul {
    list-style: none;
    padding: 0 10px;
    padding-right: 0px;
}

.CurrencyInfo .currencbuy {
    position: absolute;
    left: 25vh;
    margin-right: 50px;
    padding-bottom: 20px;
}

.CurrencyInfo .currencsell {
    position: absolute;
    left: 35vh;
    margin-right: 50px;
    padding-bottom: 20px;
}

.AccountHolder {
    position: relative;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.507);
    width: 90vh;
    float: left;
    overflow: hidden;
}

.AccountInfo {
    display: flex;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.945);
    color: black;
    border-bottom: rgb(65, 65, 65) 1px solid;
}

.AccountInfo:last-child {
    /* border-bottom-right-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    border: transparent;
}

.AccountInfo ul {
    list-style: none;
    
}

.AccountInfo li {

}

.AccountInfo p {
    position: absolute;
    padding-bottom: 1.7vh;
    left: 75vh;
}

.Accountinfo i {
    
}